@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Lato:wght@900&display=swap');

body {
  background: radial-gradient(circle, rgba(66,134,13,1) 0%, rgba(29,37,28,1) 100%);
  
  &::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 200vh;
  background: repeating-linear-gradient(
    0deg,
    rgba(black, 0.15),
    rgba(black, 0.15) 1px,
    transparent 1px,
    transparent 2px
  );
}
}


h1, h2, p {
  font-family: 'Mode Seven';
  color: white;
  font: 2.8rem Inconsolata, monospace;
      text-shadow: 0 0 5px #C8C8C8;
      text-align: center;
}

h2 {
  font-size: 2.48rem;
}

p {
font-size: 0.58rem;  
}

::selection {
  background: #0080FF;
  text-shadow: none;
}
