@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Lato:wght@900&display=swap");

body {
	background: radial-gradient(circle, #42860d 0%, #1d251c 100%);
	margin: 0;
}

a {
    text-align: center;
    display: block;
    margin: auto;
    font-size: 50px;
    font-family: monospace;
    color: white;
    font-weight: bold;
}

  /* body::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 200vh;
	background: repeating-linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15) 1px, transparent 1px, transparent 2px);
}   */

h1, h2, p {
	font-family: 'Mode Seven';
	color: white;
	font: 2.8rem Inconsolata, monospace;
	text-shadow: 0 0 5px #C8C8C8;
	text-align: center;
}

h2 {
	font-size: 2.48rem;
}

p {
	font-size: 0.58rem;
}

::selection {
	background: #0080FF;
	text-shadow: none;
}


.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: Inconsolata, monospace;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
